<html>
<body>
    <div class="head">
        <div class="menu">
            <div class="hamburger">
		        <div></div>
		        <div></div>
		        <div></div>
	        </div>
            <div class="logo"><img src="assets/BRASA_logo_horizontal.png"  height="40" width="151"> </div>
            <div class="button">CARREIRAS </div>
            <div class="button">JUNTE-SE A NÓS </div>
            <div class="button">QUERO ESTUDAR FORA </div>
            <div class="button">ESTUDO FORA </div>
            <div class="button">JA ESTUDEI FORA </div>
            <div class="button">SOBRE NÓS </div>
            <div class="button2">LOGIN </div>
        </div>

        <p class="title"> Carreiras</p>
    </div>
    <div class="vagas_content">
        <div class="checkbox">
            <div class="checkbox-div">
                <input type="checkbox" id="summer" name="summer" checked>
                <label for="summer">Summer</label>
            </div>

            <div class="checkbox-div">
                <input type="checkbox" id="fulltime" name="full-time"checked>
                <label for="full-time">Full-time</label>
            </div>
        </div>
        <div class="vagas">
            <div class = "whitebox">
            <div class="vaga-deadline">
                <h5>Deadline:</h5>
                <h5>15/01/2020</h5>
                </div>
                
                <div class="image">
                    <a class="vaga-image" href=""><img src="https://s3.amazonaws.com/brasamaster/vagas/logos/000/000/177/original/GLOBO.png?1574688742" alt="Globo" height="80" width="126" /></a>
                </div>
                <div class="vaga-text">
                    <a class="vaga-title" href="">Globo Summer Job 2020 - Entretenimento</a> 
                   
                </div>
                <div class="dead_and_app">
                    
                    <a class="aplicar"  href="">Saiba mais!</a>
                </div>
            
            </div>

            <div class = "whitebox">
                <div class="vaga-deadline">
                <h5>Deadline:</h5>
                <h5>11/02/2020</h5>
                </div>
                <div class="image">
                    <a class="vaga-image" href=""><img src="https://s3.amazonaws.com/brasamaster/vagas/logos/000/000/178/original/itau-logo.png?1576043008" alt="Itau logo"  height="80" width="80" /></a>
                </div>
                <div class="vaga-text">
                    <a class="vaga-title" href="">Analista Renda Variável Itaú</a> 
                </div>
                <div class="dead_and_app">
                    
                    <a class="aplicar"  href="">Saiba mais!</a>
                </div>
            
            </div>

        
            <div class = "whitebox">
                
                <div class="vaga-deadline">
                <h5>Deadline:</h5>
                <h5>20/01/2020</h5>
                </div>        
                <div class="image">
                    <a class="vaga-image" href=""><img src="https://s3.amazonaws.com/brasamaster/vagas/logos/000/000/143/original/VINCI_logo.jpeg?1573002244" alt="Vinci logo" height="80" width="128" /></a>
                </div>
                <div class="vaga-text">
                    <a class="vaga-title" href="">VINCI Energies - Responsável de Negócios</a> 
                </div>
                <div class="dead_and_app">
                    
                    <a class="aplicar"  href="">Saiba mais!</a>
                </div>

            </div>
        </div>
    </div>

</body>
<footer>
    <div class="s">QUER ANUNCIAR AS VAGAS DA SUA EMPRESA? ENTRE EM CONTATO CONOSCO!  </div>
    <div class="cont">CONTATO </div>
</footer>

</html>
 <style>
 .vagas{
     display: flex;
    text-align :center;
    horizontal-align: middle;
    justify-content: center;
     
 }
 .vagas_content{
     background-color: 	#F5F5F5;
     padding-top:10px;
    padding-bottom: 10px;
 }
 .aplicar{
    display:block;
    background-color: #7AB242;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 0%;
    margin-left: 8%;
    margin-right: 8%;

    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

 }
 
 .vaga-deadline{
     display:block;
     
     margin-right: 45%;
     background: #FDD50B;
     color: white;
     text-align: center;
     border-radius: 0px 8px 8px 0px;
     margin-bottom: 20px;
     margin-top: 5px;
    
 }
 .vaga-deadline h5{
     margin: 0;
     font-size: 12px;
     font-family: "Lato";
 }
.vaga-title{
    font-size: 16px;
    font-family: "Lato";
    color: black;
    text-decoration: none;  
    vertical-align :middle;
}

.whitebox{
    padding-top:10px;
    padding-bottom: 0px;
    text-align: center;
    width: 200px;
    display: inline-block;
    background-color: white;
    margin-bottom: 50px;
    margin-right: 2%;
    margin-left: 2%;
    height: 290px;
    border-radius:10px;
    vertical-align :middle;


}

.vaga-image{
    margin-top: 20px;
    margin-bottom: 10px;
}
.image{
    display: block;

}
.vaga-text{
    display: inline-block;
    width:80%;
    height: 25%;
    text-align: center;
    
    margin-top: 10px;

}



.checkbox{
     display: flex;
     justify-content: center;
     margin-top: 20px;
     margin-bottom: 20px;
}

.hamburger {
	display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    vertical-align: middle;
	
}

.hamburger div {
	background-color: white;
	width: 30px;
	height: 4px;
	margin: 5px;
}
 body{
     margin: 0;
 }
 .logo{
    cursor: pointer;
    display: inline-block;
    left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:7px;
    margin-right:31px;
    color: white;
    padding-bottom: 3px;
   
    vertical-align: middle;
  
 }
 
 .button{
     cursor: pointer;
     
     display: inline-block;
     margin-left:8px;
     margin-right:8px;
     color: white;
     padding: 5px;
     border-bottom: 3px solid rgba(0, 0, 0, 0) ;
     vertical-align: middle;

 }
 .button:hover{
    border-bottom-color: white;
 }
 .button2{
     display: inline-block;
    
     margin-left:8px;
     margin-right:0px;
     color: white;
     cursor: pointer;
     border: 2px solid white;
     border-radius: 10px;
     padding: 5px;
    
     vertical-align: middle;

 }
 .button2:hover{
     background-color: #038AD1;
     border-color: #038AD1;
 }
 .menu{
     justify-content: center;
     align-items:center;
     text-align: center;
     display: inline-block;
     width: 100%;
    
     background-color:rgba(0, 0, 0, 0.3);
     position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
}


 
 .head p.title{
    font-size: 100px;
    color: white;
    margin-top: 200px;
    display: inline-block;
    margin-bottom:0;
    margin-left: 20%;

 }
.head{
    left: 0;
    top: 0;
    
    width: 100%;
    display: block;
    height: 400px;
    background-image: url(/assets/carreiras_back.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-position: center right;
}
footer {
   
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #038AD1;
   padding-top: 1%;
   padding-bottom: 1%;
   text-align: center;
 
   
 }
 footer div.s{
    display: inline-block;
    color: white;
    
 }
 footer div.cont{
    color: #038AD1;
    display: inline-block;
    background-color: white;
    margin-left: 4%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 5px;    
    font-family: "Lato";
    cursor: pointer;
}
 </style>